<div class="footer" id="js-footer">
	<div class="ctnr-wide">
		<div class="footer-left">
			<p><a class="link footer-text" href=" http://connorbaer.io">Made by Connor.</a></p>
		</div>
<!-- 		<div class="footer-right">
			<button id="js-share-show" class="button-text">Share</button>
		</div> -->
	</div>
</div>
<div id="js-modal" class="share">
	<a id="js-share-hide" class="share-close">x</a>
	<ul class="share-content">
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Twitter</a></li>
	</ul>
</div>