header {
	background-color: #fff;
}

.header-content {
	padding: 9rem 0 1rem;
}

.header-title {
  font-size: 5rem;
  font-family: $ornamental;
  font-weight: normal;
  margin-bottom: 1.5rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.1rem;
  &:after {
    content: '';
    height: 0.4rem;
    width: 7rem;
    background-color: $gray-5;
    display: block;
    margin: 1.5rem auto;
    border-radius: 0.2rem;
  }
}

@media (min-width: $tablet) {
	.header-content {
		padding: 11rem 0 3rem;
	}
}