.site-wrapper {
	background-color: $gray-5;
	min-height: 100vh;
	min-width: 100vw;
	max-width: 90rem;
	margin: 0 auto;
	z-index: 1;
}

.body-wrapper {
	background-color: #fff;
	min-height: 100vh;
	width: 100vw;
	z-index: 2;
}

.ctnr-wide, .ctnr-golden {
	width: 100%;
	max-width: 50rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 0 auto;
}

@media (min-width: $tablet) {
	.body-wrapper {
		width: 50vw;
	}

	.ctnr-wide {
		width: 100%;
		padding-right: 4rem;
		padding-left: 4rem;
	}

	.ctnr-golden {
		max-width: 56rem;
		width: 61.8%;
		min-width: 24rem;
	}
}