.social {
	padding-top: 1.5rem;
	height: 5rem;
	background-color: #fff;
}

.social-logo {
	float: left;
}

.social-print {
	width: 2rem;
	height: 2rem;
}

.social-links {
	float: right;
	padding: 0.25rem 0;
}

.social-icon {
	height: 1.6rem;
	width: 1.6rem;
	padding: 0.2rem;
	margin-left: 1.5rem;
}

.social-print, .social-icon {
	transition: transform 0.15s ease-in-out, fill 0.15s ease-in-out;
	fill: $gray-70;
	&:hover, &:focus {
		-webkit-transform: scale(1.25);
	    -moz-transform: scale(1.25);
	    transform: scale(1.25);
	    fill: $primary;
	}
}