.social {
	padding: 1.25rem 1.75rem;
	background-color: #fff;
	width: 100%;
}

.social-logo {
	float: left;
}

.social-links {
	float: right;
}

.social-icon {
	padding: 0.6rem;
	margin-left: 1.5rem;
}

.social-print, .social-icon {
	width: 2.5rem;
	height: 2.5rem;
	transition: transform 0.15s ease-in-out, fill 0.15s ease-in-out;
	fill: $gray-70;
	&:hover, &:focus {
	    transform: scale(1.25);
	    fill: $primary;
	}
}

.headroom .social {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999;
  transition: transform 0.2s ease-in-out;
}

.headroom--not-top .social {
  border-bottom: 1px solid $gray-5;
}

.headroom--pinned .social, .headroom--unpinned.headroom--bottom .social {
  transform: translateY(0%);
}

.headroom--unpinned .social {
  transform: translateY(-100%);
}

@media (min-width: $tablet) {
	.headroom .social {
		max-width: 50vw;
	}
}