// Typography
/* Headings, body text, lists, and other misc typographic elements. */

h1, h2, h3, h4, h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: $sans;
}

h1 {
  font-size: 2.606rem;
  color: $primary;
  font-weight: $sans-bold;
}

h2 {
  font-size: 2.085rem;
  color: $primary;
  font-weight: $sans-normal;
}

h3 {
  font-size: 1.805rem;
  color: $gray-90;
  font-weight: $sans-bold;
}

h4 {
  font-size: 1.444rem;
  color: $gray-90;
  font-weight: $sans-normal;
}

h5 {
  font-size: 1.25rem;
  text-align: center;
  color: $gray-80;
  line-height: 1.5;
  font-weight: $sans-bold;
}

h6 {
  font-size: 1rem;
  text-align: center;
  color: $gray-70;
  line-height: 1.5;
  font-family: $serif;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $serif-bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $serif;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: -0.003em;
  font-weight: $serif-normal;
}

.caps:before { 
  float: left; 
  color: $primary; 
  font-size: 4.4rem; 
  line-height: 1; 
  padding: 0 0.5rem 0 0.25rem; 
  font-family: $serif;
  content: attr(alt);
}

a {
  text-decoration: none;
  color: $primary;
}

strong, .strong {
  font-weight: $sans-bold;
}