// Typography
/* Headings, body text, lists, and other misc typographic elements. */

h2, h3, h4, h5 {
  color: $primary;
  margin-bottom: 0.5rem;
  font-weight: $normal;
  margin-top: 0;
  line-height: 1.1;
  font-family: $sans-serif;
}

h1 {
  color: $primary;
  font-size: 3.764rem;
  font-family: $ornamental;
  font-weight: normal;
  margin-bottom: 1.25rem;
  line-height: 1.25;
  text-align: center;
}

h2 {
  font-size: 2.085rem;
}

h3 {
  font-size: 1.805rem;
}

h4 {
  font-size: 1.444rem;
}

h5 {
  font-size: 1.1rem;
  text-align: center;
  color: $gray-70;
  line-height: 1.5;
  font-weight: $bold;
}

h6 {
  font-size: 1rem;
  text-align: center;
  color: $gray-70;
  line-height: 1.5;
  /*font-weight: $bold;*/
  font-family: $serif;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $serif;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: -0.003em;
}

.caps:before { 
  float: left; 
  color: $primary; 
  font-size: 4.1rem; 
  line-height: 1; 
  padding: 0.25rem 0.5rem 0 0.25rem; 
  font-family: $serif;
  content: attr(alt);
}

a {
  text-decoration: none;
  color: $primary;
}

a.link {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  &:hover,
  &:focus {
    background-color: $primary;
    color: #000;
  }

  strong {
    color: inherit;
  }
}

strong, .strong {
  font-weight: $bold;
}

.unstyle {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyle li {
  display: inline-block;
  margin-left: 0;
}