<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
	<div class="site-wrapper">
		<div class="body-wrapper">
			<header class="header">
		    	{% include social.html %}

		    	<div class="ctnr-golden">
		    		<div class="header-content">
				        <h1>It's spring!</h1>
				        <h5>{{ site.description }}</h5>
				        <h6>by <a href="{{ site.author.url }}">{{ site.author.name }}</a></h6>
			        </div>
		    	</div>
		    </header>

			{{ content }}

			<footer id="footer"
				<div class="footer-content ctnr-wide">
					<h6>*dig·it·al no·mad <span class="footer-phonetic"> /ˈdijidl  ˈnōˌmad/</span></h6>
					<p class="footer-definition">Digital nomads are people who are location independent and use technology to perform their job. Digital nomad lifestyle is becoming more common every day and reflects the modern technology of our time. <a class="link strong" href=" https://www.wikiwand.com/en/Digital_nomad">Learn more →</a>
					<p class="footer-legal">&copy; {{ site.time | date: '%Y' }} Connor Bär. All rights reserved.</p>
				</div>
			</footer>

		    {% include analytics.html %}
		</div>
    </div>
</body>
</html>