<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
	<div class="body-wrapper">
	  	<header>
	    	{% include social.html %}
		    <img class="header-text" src="{{ site.baseurl }}/assets/text.png" srcset="{{ site.baseurl }}/assets/@0.5x.png 500w, {{ site.baseurl }}/assets/text@3x.png 1500w, {{ site.baseurl }}/assets/text@3x.png 500w 2x" alt="Hi, I'm Connor, Designer & Developer">
	    </header>
	    {% include navigation.html %}

	    <aside class="cards">
	    	<div class="ctnr-golden">
	    		<div class="card">
	    			<h2>Portfolio coming tomorrow.</h2>
	    		</div>
	    	</div>
	    </aside>
<!-- 		<footer id="footer" class="invert">
			<div class="footer-content ctnr-golden">
				<h6>*dig·it·al no·mad <span class="footer-phonetic"> /ˈdijidl  ˈnōˌmad/</span></h6>
				<p class="footer-definition">Digital nomads are people who are location independent and use technology to perform their job. Digital nomad lifestyle is becoming more common every day and reflects the modern technology of our time. <a class="link strong" href=" https://www.wikiwand.com/en/Digital_nomad">Learn more →</a>
				<p class="footer-legal">&copy; {{ site.time | date: '%Y' }} Connor Bär. All rights reserved.</p>
			</div>
		</footer> -->

	    {% include analytics.html %}
    </div>
</body>
</html>
